In [1]:
# Step 1: Import Libraries
import numpy as np
import pandas as pd
from sklearn.datasets import fetch_openml
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

# Step 2: Data Collection
# Boston Housing dataset (via OpenML)
boston = fetch_openml(name="boston", version=1, as_frame=True)
data = boston.frame

# Display first few rows
print("Dataset Preview:")
display(data.head())

# Step 3: Data Preparation
X = data.drop("MEDV", axis=1)   # Features
y = data["MEDV"]                # Target variable

# Step 4: Handle Missing Values
# Fix: Only calculate mean for numeric columns to avoid TypeError with categorical data
X = X.fillna(X.select_dtypes(include=[np.number]).mean())

# Step 5: Train-Test Split
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

# Step 6: Feature Scaling
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

# Step 7: Model Building
model = LinearRegression()

# Step 8: Model Training
model.fit(X_train, y_train)

# Step 9: Model Prediction
y_pred = model.predict(X_test)

# Step 10: Model Evaluation
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print("\nModel Evaluation:")
print("Mean Squared Error:", mse)
print("R2 Score:", r2)

# Step 11: Display Model Coefficients
print("\nModel Coefficients:")
coefficients = pd.DataFrame(model.coef_, X.columns, columns=['Coefficient'])
display(coefficients)

Dataset Preview:

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

Model Evaluation:
Mean Squared Error: 24.291119474973513
R2 Score: 0.668759493535632

Model Coefficients:

         Coefficient
CRIM       -1.002135
ZN          0.696269
INDUS       0.278065
CHAS        0.718738
NOX        -2.022319
RM          3.145240
AGE        -0.176048
DIS        -3.081908
RAD         2.251407
TAX        -1.767014
PTRATIO    -2.037752
B           1.129568
LSTAT      -3.611658